type kickstart_vendor_data_file, file_type, data_file_type;
type sensors_vendor_data_file, file_type, data_file_type;

# Default type for anything under /firmware
type radio_efs_file, fs_type, contextmount_type;

# Persist firmware types
type persist_wifi_file, file_type;

type sysfs_msm_subsys, fs_type, sysfs_type;
type sysfs_soc, fs_type, sysfs_type;
type sysfs_kcal, fs_type, sysfs_type;
type debugfs_kgsl, debugfs_type, fs_type;
